swagger: "2.0"
info:
  version: "0.0.1"
  title: Schema validation service

# basePath prefixes all resource paths 
basePath: /
# 
schemes:
  # tip: remove http to make production-grade
  - http
  - https
# format of bodies a client can send (Content-Type)
consumes:
  - application/json
# format of the responses to the client (Accepts)
produces:
  - application/json
paths:
  /object/validate:
    x-swagger-router-controller: json_object
    post:
      description: Validate input object by its json schema
      # used as the method name of the controller
      operationId: validateObject
      parameters:
        - name: body
          in: body
          required: true
          schema:
            required:
              - object
              - schema
            properties:
              object:
                type: object
              schema:
                type: object
      responses:
        "200":
          description: Success
          schema:
            # a pointer to a definition
            $ref: "#/definitions/ValidationResponse"
        "422":
          description: Unprocessable Entity
          schema:
            $ref: "#/definitions/ErrorUnprocessableEntityResponse"
        # responses may fall through to errors
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
  /objects/validate:
      x-swagger-router-controller: json_object
      post:
        description: Validate input objects by its json schema
        # used as the method name of the controller
        operationId: validateArray
        parameters:
          - name: body
            in: body
            required: true
            schema:
              required:
                - objects
                - schema
              properties:
                objects:
                  type: array
                  items:
                    type: object
                schema:
                  type: object
        responses:
          "200":
            description: Success
            schema:
              # a pointer to a definition
              $ref: "#/definitions/ValidationResponse"
          "422":
            description: Unprocessable Entity
            schema:
              $ref: "#/definitions/ErrorUnprocessableEntityResponse"
          # responses may fall through to errors
          default:
            description: Error
            schema:
              $ref: "#/definitions/ErrorResponse"
  /objects/gzipped/validate:
    x-swagger-router-controller: json_object
    post:
      consumes:
        - multipart/form-data
        #- application/x-gzip
      description: Validate input objects by its json schema
      # used as the method name of the controller
      operationId: validateBatchArray
      parameters:
        - name: file
          in: formData
          description: the attachment content
          required: true
          type: file
      responses:
        "200":
          description: Success
          schema:
            # a pointer to a definition
            $ref: "#/definitions/ValidationResponse"
        "422":
          description: Unprocessable Entity
          schema:
            $ref: "#/definitions/ErrorUnprocessableEntityResponse"
        # responses may fall through to errors
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
  /schema/validate:
    x-swagger-router-controller: json_schema
    post:
      description: Validate input schema
      # used as the method name of the controller
      operationId: validateArray
      parameters:
        - name: body
          in: body
          required: true
          schema:
            required:
              - schema
            properties:
              schema:
                type: object
      responses:
        "200":
          description: Success
          schema:
            # a pointer to a definition
            $ref: "#/definitions/ValidationResponse"
        # responses may fall through to errors
        "422":
          description: Unprocessable Entity
          schema:
            $ref: "#/definitions/ErrorUnprocessableEntityResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
  /swagger:
    x-swagger-pipe: swagger_raw
# complex objects have schema definitions
definitions:
  ValidationResponse:
    required:
      - isValid
    properties:
      isValid:
        type: boolean
      errors:
        type: array
        items:
          type: object
  #Usefull? Not so sure
  ErrorUnprocessableEntityResponse:
    required:
      - message
      - code
    properties:
      message:
        type: string
      code:
        type: string
  ErrorResponse:
    required:
      - message
    properties:
      message:
        type: string
